@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src:
    local('Spoqa Han Sans Neo Bold'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('font-woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.eot') format('eot'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf') format('otf'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src:
    local('Spoqa Han Sans Neo Medium'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('font-woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot') format('eot'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf') format('otf'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src:
    local('Spoqa Han Sans Neo Regular'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('font-woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot') format('eot'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf') format('otf'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src:
    local('Spoqa Han Sans Neo Light'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('font-woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.eot') format('eot'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.otf') format('otf'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  src:
    local('Spoqa Han Sans Neo Thin'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('font-woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.eot') format('eot'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.otf') format('otf'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'SBAggro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Spoqa Han Sans Bold'),
    url('/assets/fonts/SBAggro/SBAggroB.woff2') format('font-woff2'),
    url('/assets/fonts/SBAggro/SBAggroB.woff') format('woff'),
    url('/assets/fonts/SBAggro/SBAggroB.otf') format('otf'),
    url('/assets/fonts/SBAggro/SBAggroB.eot') format('eot'),
    url('/assets/fonts/SBAggro/SBAggroB.ttf') format('truetype');
}
@font-face {
  font-family: 'SBAggro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Spoqa Han Sans Regular'),
    url('/assets/fonts/SBAggro/SBAggroM.woff2') format('font-woff2'),
    url('/assets/fonts/SBAggro/SBAggroM.woff') format('woff'),
    url('/assets/fonts/SBAggro/SBAggroM.otf') format('otf'),
    url('/assets/fonts/SBAggro/SBAggroM.eot') format('eot'),
    url('/assets/fonts/SBAggro/SBAggroM.ttf') format('truetype');
}
@font-face {
  font-family: 'SBAggro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Spoqa Han Sans Light'),
    url('/assets/fonts/SBAggro/SBAggroL.woff2') format('font-woff2'),
    url('/assets/fonts/SBAggro/SBAggroL.woff') format('woff'),
    url('/assets/fonts/SBAggro/SBAggroL.otf') format('otf'),
    url('/assets/fonts/SBAggro/SBAggroL.eot') format('eot'),
    url('/assets/fonts/SBAggro/SBAggroL.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Nanum Myeongjo Ragular'),
    url('/assets/fonts/NanumMyeongjo/NanumMyeongjo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Nanum Myeongjo Bold'),
    url('/assets/fonts/NanumMyeongjo/NanumMyeongjo-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Nanum Myeongjo Extra Bold'),
    url('/assets/fonts/NanumMyeongjo/NanumMyeongjo-ExtraBold.ttf') format('truetype');
}
