/* reset.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  flex-shrink: 0;
}

html {
  // font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

:lang(ko) {
  word-break: keep-all;
  word-wrap: break-word;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
hr {
  margin: 0;
  padding: 0;
}

// html5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

// ::selection {
//   background-color: var(--color-secondary);
//   color:white;
// }
// :focus {outline: 4px solid rgba(0, 0, 255, .6);outline-offset: 1px}
// :focus[data-focus-method=mouse]:not(input):not(textarea):not(select),
// :focus[data-focus-method=touch]:not(input):not(textarea):not(select) {outline: none}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  ::-webkit-scrollbar {
    width: 6px; /* 스크롤 바의 너비 */
    // height: 7px; /* 스크롤 바의 높이 */
    background-color: rgba(32, 32, 32, 0.1); /* 스크롤 바의 배경색 */
  }

  /* 스크롤 바의 색상 지정 */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(32, 32, 32, 0.4); /* 스크롤 바의 색상 */
  }

  /* 스크롤 바 호버 시 색상 지정 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(32, 32, 32, 0.8); /* 스크롤 바의 색상 */
  }
}

body {
  box-sizing: border-box;
  font-size: $font-size-base;
  font-family: $base-font-family;
  color: $color-text-default;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  word-break: keep-all;
  scroll-behavior: smooth;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;

  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

caption,
legend {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

table {
  // border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

picture {
  display: inline-block;
}
picture > img {
  display: block;
}
img,
picture,
video,
canvas {
  max-width: 100%;
  border: none;
}

hr {
  // border-top: 1px solid $color-gray-200;
  // max-width: $page-width;
  &.type-dashed {
    border-top-style: dashed;
  }
  &.type-hide {
    display: none;
  }
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  text-underline-position: under;
  color: inherit;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  &:disabled {
    cursor: default;
  }
}
input,
select,
textarea {
  box-sizing: border-box;
  outline: none;
  font-size: $font-size-base;
  font-family: $base-font-family; //textarea bug
  letter-spacing: $base-letter-spacing;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

svg {
  fill: transparent;
}
